<h1>Application</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>
<p><% @application.pets %></p>